/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
  margin-bottom: 0px; 
}

.content-mid-header {
  background: #444;
  width: 100%;
  height: 100px;
}

.content-container {
  width: 550px;
  height: 600px;
  padding: 20px, 20px;
  margin-left: 40px;
  margin-top: 50px;
}

.content {
  background: #D8D8D8;
  width: 100%;
  height: 400px;
  padding-top: 25%;
  text-align: center;
}
